{block content}
<div class="container">
    <div class="template">
         {foreach $keywords as $keyword}
                <p>{$keyword->keyword}</p>
        {/foreach}
        
    </div>
</div><!-- /.container -->

{/block}





