{block content}

<div data-role="content">
    <ul data-role="listview">  
        <li data-role="list-divider">
            {$layer->title}
        </li>
        <li><h3>Name: {$layer->name}</h3></li>
        <li><p>Abstract: {$layer->abstract}</p></li>
        <li><p>url: {$layer->abstract}</p></li>
        
    </ul>
    <h1>{$id}, {$name}</h1>
</div>
{/block}




