{* This is the welcome page, you can delete it *}
{block head}
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7/leaflet.css" />
{/block}

{block content}

<div class="container">
    <div class="template">
        Add map
    </div>
</div>
{/block}




