{block content}
<div class="container">
    <div class="template">
        <ul>
            <li>
            <a href="{link AllWms:}">All Wms</a>
            </li>
            <li>
            <a href="{link AddWms:}">Add Wms</a>
            </li>
        </ul>
    </div>
</div><!-- /.container -->

{/block}





