{block content}
<div data-role="content">	
<ul data-role="listview">
    <li>
    <a href="{link AllWms:}">All Wms</a>
    </li>
    <li>
    <a href="{link AddWms:}">Add Wms</a>
    </li>

</ul>
</div><!-- /content -->

{/block}





